<launch>
    <arg name="save_path_file_name_arg" default="$(find realsense_hacking)/NewCameraTrajectory.txt" />
    <arg name="load_path_file_name_arg" default="$(find realsense_hacking)/OldCameraTrajectory.txt" />
    <arg name="save_map_file_name_arg" default="$(find realsense_hacking)/NewMap.bin" />
    <arg name="load_map_file_name_arg" default="$(find realsense_hacking)/OldMap.bin" />

    <param name="save_path_file_name" value="$(arg save_path_file_name_arg)"></param>
    <param name="load_path_file_name" value="$(arg load_path_file_name_arg)"></param>
    <param name="save_map_file_name" value="$(arg save_map_file_name_arg)"></param>
    <param name="load_map_file_name" value="$(arg load_map_file_name_arg)"></param>
    
    <group ns="t265">
        <node name="t265_data_node" pkg="realsense_hacking" type="realsense_pub.py" output="screen" />
    </group>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find realsense_hacking)/config/rviz_config.rviz" required="false" />

</launch>